 <h2 style="text-align: center;">All Bookings</h2>

<table class="booking-table">
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Check-in Date</th>
      <th>Check-out Date</th>
      <th>Number of Rooms</th>
      <th>Type of Room</th>
      <th>Status</th>

      <th>Room ID</th> 
      <%# <th>Amount</th> %>
      <th colspan="2" style="text-align: center;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.check_in_date%></td>
        <td><%= booking.check_out_date %></td>
        <%# <td><%= booking.check_in_time.strftime(" %H:%M:%S")></td> %>
        <%# <td><%= booking.check_out_time.strftime("%H:%M:%S") ></td> %>
        <td><%= booking.number_of_rooms %></td>
        <td><%= booking.type_of_room %></td>
        <td><%= booking.status %></td>
        <td><%= booking.room_id %></td> 
        <%# <td><%= booking. %>
          <%# <td><%= link_to 'Show', bookings_path(booking.id), class: 'btn btn-info'></td> %>
          <%# <td><%= link_to 'Edit', edit_booking_path(booking.id), class: 'btn btn-warning'><td> %> 
          <td><%= link_to 'Show', booking_path(booking.id), class: 'btn btn-info' %></td> 
          <td><%= link_to "Cancel",booking_path(booking.id), data: {turbo_method: :delete,turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %></td>
          <%# <td><%= link_to "Cancel", bookings_path(booking.id), data: { >
                    # turbo_method: :delete,
                    # turbo_confirm: "Are you sure?"
                  # },class: 'btn btn-danger' </td> %>
        
      </tr>
    <% end %>
  </tbody>
</table>




    <%# t.date "check_in_date"
    t.date "check_out_date"
    t.time "check_in_time"
    t.time "check_out_time"
    t.integer "number_of_rooms"
    t.string "type_of_room"
    t.string "status", default: "pending"
    t.integer "user_id", null: false
    t.integer "room_id", null: false
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["room_id"], name: "index_bookings_on_room_id"
    t.index ["user_id"], name: "index_bookings_on_user_id" %>