<div class="container">
  <h1>Booking Form</h1>
  <div class="form-box">
    <%= form_with  model:@booking,url: bookings_path, method: :post, local: true  do |f| %>
      <div class="form-group">
        <%= f.label :check_in_date, "Check-in Date:" %>
        <%= f.date_field :check_in_date, required: true %>
      </div>
      <div class="form-group">
        <%= f.label :check_out_date, "Check-out Date:" %>
        <%= f.date_field :check_out_date, required: true %>
      </div>
      <div class="form-group">
        <%= f.label :check_in_time, "Check-in Time:" %>
        <%= f.time_select :check_in_time, required: true %>
      </div>
      <div class="form-group">
        <%= f.label :check_out_time, "Check-out Time:" %>
        <%= f.time_select :check_out_time, required: true %>
      </div>
      <div class="form-group">
        <%= f.label :number_of_rooms, "Number of Rooms:" %>
        <%= f.number_field :number_of_rooms, required: true %>
      </div>
      <div class="form-group">
        <%= f.label :room_id, "Select Rooms:" %>
        <div>
          <% @rooms.where(status: "Available").each do |room| %>
            <div class="form-check">
              <%= f.radio_button :room_id, room.id, class: 'form-check-input' %>
              <%= f.label "room_#{room.id}", room.room_type, class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
      </div>
      <%= f.submit "Submit"%>
    <% end %>
  </div>
</div>

</div>