<%# <h1>Available Rooms</h1>      %>

<br>
<div class="container">
  <h1>Available Rooms</h1>

  <div class="form-box">
    <%= form_with model: @booking, url: hotel_bookings_path(@hotel.id),method: :post, local: true do |f| %> 
       <%# <%= f.hidden_field :hotel_id, value: @hotel.id %>  
       <%# <%= f.hidden_field :check_in_date, value: @check_in %>   
       <%# <%= f.hidden_field :check_out_date, value: @check_out %>  

         <%= f.hidden_field :check_in_date, value: @check_in %>
         <%= f.hidden_field :check_out_date, value: @check_out %>
       <% byebug %>
      <div class="form-group">
        <%= f.label :room_id, "Select Rooms:" %>
        <div>
          <% @available_rooms.each do |room| %>
              <div class="form-check">
                <%= f.radio_button :room_id, room.id, class: 'form-check-input' %> <%= room.features %>
                <%= f.label "room_#{room.id}", room.room_type, class: 'form-check-label' %>  rate:-><%= room.rate%>  per day
              </div>
            <% end %>
        </div>
      </div>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>
