<%# <p>Booking created succesfully</p>
<br>
<br>

<%# <%= link_to 'View All Bookings', bookings_path %> 

<%# <nav> %>
  <%# <%= link_to 'Home', root_path %>
  <%# <%= link_to 'View All Bookings', bookings_path %>  
  <%# <%= link_to 'Create a New Booking', new_booking_path %>
<%# </nav>  %>


    <%# t.date "check_in_date"
    t.date "check_out_date"
    t.time "check_in_time"
    t.time "check_out_time"
    t.integer "number_of_rooms"
    t.string "type_of_room"
    t.string "status", default: "pending"
    t.integer "user_id", null: false
    t.integer "room_id", null: false
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["room_id"], name: "index_bookings_on_room_id"
    t.index ["user_id"], name: "index_bookings_on_user_id" %> 




  <table class="booking-table">
  <thead>
    <tr>
      <th>Booking ID</th>
      <th>Check-in Date</th>
      <th>Check-out Date</th>
      <th>Check-in Time</th>
      <th>Check-out Time</th>
      <th>Number of Rooms</th>
      <th>Type of Room</th>
      <th>Status</th>
      <th>Room ID</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @booking.id %></td>
        <td><%= @booking.check_in_date.strftime("%A, %B %d, %Y") %></td>
        <td><%= @booking.check_out_date.strftime("%A, %B %d, %Y")%></td>
        <td><%= @booking.check_in_time.strftime("%d/%m/%Y, %H:%M:%S") %></td>
        <td><%= @booking.check_out_time.strftime("%d/%m/%Y, %H:%M:%S") %></td>
        <td><%= @booking.number_of_rooms %></td>
        <td><%= @booking.type_of_room %></td>
        <td><%= @booking.status %></td>
        <td><%= @booking.room_id %></td>
      </tr>
  </tbody>
</table>