<%# <p>Booking created succesfully</p>
<br>
<br>

<%# <%= link_to 'View All Bookings', bookings_path %> 

<%# <nav> %>
  <%# <%= link_to 'Home', root_path %>
  <%# <%= link_to 'View All Bookings', bookings_path %>  
  <%# <%= link_to 'Create a New Booking', new_booking_path %>
<%# </nav>  %>


    <%# t.date "check_in_date"
    t.date "check_out_date"
    t.time "check_in_time"
    t.time "check_out_time"
    t.integer "number_of_rooms"
    t.string "type_of_room"
    t.string "status", default: "pending"
    t.integer "user_id", null: false
    t.integer "room_id", null: false
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["room_id"], name: "index_bookings_on_room_id"
    t.index ["user_id"], name: "index_bookings_on_user_id" %> 




  <table class="booking-table">
  <thead>
    <tr>
      <%# <th>Booking ID</th> %>
      <th>Check-in Date</th>
      <th>Check-out Date</th>
      <th>Number of Rooms</th>
      <th>Type of Room</th>
      <th>Status</th>
      <%# <th>User ID</th> %>
      <th>Room ID</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <%# <td><%= @booking.id ></td> %>
        <td><%= @booking.check_in_date%></td>
        <td><%= @booking.check_out_date %></td>
        <td><%= @booking.number_of_rooms %></td>
        <td><%= @booking.type_of_room %></td>
        <td><%= @booking.status %></td>
        <%# <td><%= @booking.user_id ></td> %>
        <td><%= @booking.room_id %></td>
      </tr>
  </tbody>
</table>  



<div class="booking-actions" style="text-align: center;"> 
  
  <!-- Link to show all bookings of the current user --> 
  <%# <% byebug %>  
  <% @room = Room.find(@booking.room_id)%>
  <%# <%= link_to 'View All My Bookings', bookings_path, class: 'btn btn-primary' %>  
  <h3 > <%= link_to "View All My Bookings", "/bookings?user_id=#{@booking.user_id}",class:"btn btn-lg  btn-success text-white" %></h3>
   
  <!-- Link to cancel booking (this should call a 'cancel' action in the controller) -->
  <%# <%= link_to 'Cancel Booking', cancel_payments_path(@booking), method: :delete, data: { confirm: 'Are you sure you want to cancel this booking?' }, class: 'btn btn-danger' %> 
 <h3 style="padding-top:20px"><%= button_to 'Refund', refund_payment_path(@booking.id), method: :post, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }%></h3>


</div>