<div class="container">
  <h1>Payment</h1>
  
  <h2><%= @hotel.name %></h2>

  <ul>
    <li><%= @room.room_type %></li>
    <li><%= @room.features %></li>
    <li>Number of Days: <%= @total_days %></li>
  </ul>

  <p class="total-price"><%= number_to_currency(@total_price, unit: '₹') %></p>

  <a href="<%= @session.url %>" class="btn">Pay Now</a>
</div>