<h4>Total Number of Rooms => <%= @no_of_rooms%></h4>
<h4>Total Number of AC Rooms => <%= @no_of_ac_rooms%></h4>
<h4>Total Number of Non Ac Rooms => <%= @no_of_non_ac_rooms%></h4>

<br>
<br> 



<%# <%= link_to 'Book Now', new_hotel_booking_path(hotel_id: @hotel.id) %>  

<%= link_to 'Book Now', new_hotel_booking_path(hotel_id: @hotel.id) %>  

<%# <%= link_to 'Book Now', new_hotel_room_path(hotel_id: @hotel.id)%>  




