<p> Dear User,</p>   
<br> 
<p>Thanks for booking a room from our app, please kindly find the details of the  presented below </p> 
<ul>
 <li>Email => <%= @email %></li> 
 <li>Check-in-date => <%= @booking.check_in_date %></li> 
 <li>Check-out-date => <%= @booking.check_out_date %></li> 
 <li>number-of-rooms => <%= @booking.number_of_rooms %></li> 
 <li>Room-id => <%= @booking.room_id %></li>   
 <li>Booking-Id => <%= @booking.id %></li>  
 <li>Type-of-room => <%= @booking.type_of_room %></li>  
 <li>Feature-of-room => <%= Room.find(@booking.room_id).features %></li>  
 <%# <% byebug %> 
 <li>Payment => <%=Room.find(@booking.room_id).rate %></li>
 <li>Payment-status => <%= @booking.status %></li>

</ul> 

